<div id="freetile-container" >
<% ['fridge', 'laptop', 'waterboiler', 'xbox', 'table', 'bed', 'camera', 'pendrive', 'fridge', 'laptop', 'waterboiler', 'xbox'].each do |image| %>
  <div class="grid-item">
    <div class="figure">
      <%= image_tag image, alt: "Go Home", class: "img img-responsive" %>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#" class="btn"><span class="glyphicon glyphicon-heart white"></span></a></li>
        <li><a href="#" class="btn"><span class="glyphicon glyphicon-eye-open white"></span></a></li>
        <li><a href="#" class="btn"><span class="glyphicon glyphicon-comment white"></span></a></li>
      </ul>
    </div>
  </div>
<% end %>

<% ['fridge', 'laptop', 'waterboiler', 'xbox', 'table', 'bed', 'camera', 'pendrive', 'fridge', 'laptop', 'waterboiler', 'xbox'].each do |image| %>
  <div class="grid-item">
    <div class="figure">
      <%= image_tag image, alt: "Go Home", class: "img img-responsive" %>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#" class="btn"><span class="glyphicon glyphicon-heart white"></span></a></li>
        <li><a href="#" class="btn"><span class="glyphicon glyphicon-eye-open white"></span></a></li>
        <li><a href="#" class="btn"><span class="glyphicon glyphicon-comment white"></span></a></li>
      </ul>
    </div>
  </div>
<% end %>
</div>
