/*
//= require_tree .
*/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Wire+One|Londrina+Outline|Aladin|Amatic+SC|Gruppo);

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,e9e9ce+100;Wax+3D+%232 */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: none;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .navbar{
    border-radius: 0;
    border: none;
    background: #122125;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
